/.metadata/
/.recommenders/
*.class
DataAnalysis/.classpath
DataAnalysis/.classpath
DataAnalysis/.classpath
DataAnalysis/.settings/org.eclipse.jdt.core.prefs
RemoteSystemsTempFiles/.project
DataAnalysis/.classpath
*.prefs
DataAnalysis/.classpath
DataAnalysis/.settings/org.eclipse.jdt.core.prefs
NHSEE/.classpath
